.cor_de_fundo{
    background-color: #FFF;
}

.clear{
    clear: both;
}

#centro_categorias{
    min-height: 300px;
    position: absolute;
    border: solid 1px #cccccc;
}

#left,
#right{
    width: 525px;
    
}

#left{
    float: left;
    border-right: solid 1px #cccccc;
}

#right{
    float: right;
}

#left > h3,
#right > h3{
    padding-left: 15px;
    font-size: 16px;
}

input[type=submit]{
    width:100px;
    color:#FFF;
    font-weight:bold;
    background:#228B22;
    border:thin;
    padding: 8px;
    border-radius: 5px;
}

.texto{
    height:36px;
    border:thin solid #EAEAEA; 
    padding-left:8px;
    width: 145px;
}

#formNewCategoryReceita,
#formNewCategoryDespesa{
    width: 255px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#formNewCategoryReceita > label,
#formNewCategoryDespesa > label{
    font-weight: normal;
    font-size: 16px;
}


#left > table,
#right > table{
    min-width: 150px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 30px;
}

#left > table img,
#right > table img{
    width: 20px;
    height: 20px;
}

#left > table th,
#rigth > table th{
    text-align: center;
}


#left > table th,
#right > table th,
#left > table td,
#right > table td{
    padding: 6px 0 6px 8px;
}


#left > table td,
#right > table td{
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
}


.sem_resultados_categorias{
    color: #cccccc;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
}


.notificacao{
   display:none;/**/
   font-weight:bold;
   text-align:center;
   margin: 0 auto;
   font-size: 14px;
}

.ok{
    color: #228B22;
}

.no{
    color: red;
}
