.cor_de_fundo{
    background-color: #FFF;
}

#central{
    width: 1050px;
}

#top{
    border: solid 1px #cccccc;
    text-align: center;
    padding: 10px 0 15px 0;
}

#top > h3 > img{
    width: 50px;
    height: 50px;
}

.divs{
    width: 523px;
    height: 220px;
}

.divs > h3{
    font-size: 14px;
    padding-left:20px;
}

#lado_esquerdo{
    float: left;
    border: solid 1px #cccccc;
    border-right: none;
    border-top: none;
}

#lado_direito{
    float: right;
    border: solid 1px #cccccc;
    border-top: none;
}

#div_perfil, #div_notificacoes{
    border-bottom: solid 1px #cccccc;
}

#div_movimentacoes img{
    width: 45px;
    height: 45px;
}

#div_movimentacoes p{
    font-size: 20px;
    color: red;
}

#div_movimentacoes p:hover{
    text-decoration: underline;
    cursor: pointer;
}

#link_excluir_movs{
    width: 420px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 60px;
}

#aviso_excluir{
    display: block;
    width: 420px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #FFFACD;
}



#popup_deseja_apagar_tudo,
#popup_inativarconta,
#popup_excluirconta{
    display: none;
}


input[type=submit]{
    color:#FFF;
    font-weight:bold;
    background:#228B22;
    border:thin;    
    padding: 8px 15px;
    border-radius: 5px;
}

input[type=button]{
    color: #000;
    font-weight:bold;
    border:thin;    
    padding: 8px 15px;
    border-radius: 5px;
}

#form_deleta_todas_mov{
    float: right;
}

.notificacao{
    font-weight:bold;
    font-size: 13px;
    display: none;
}


input[type=checkbox]{
    width: 28px;
    height: 28px;
    position: absolute;
}

input[type=checkbox]:hover,
#labelPermiteNot:hover{
    cursor: pointer;
}

#labelPermiteNot{
    font-size: 16px;
    margin-left: 37px;
    margin-top: 8px;
}

#div_permiteNots{
    width: 370px;
    margin: 0 auto;
    margin-top: 15px;
}

#img_mail{
    text-align: center;
    margin-top: 35px;
}

#img_mail > img{
    width: 70px;
    height: 50px;
}

#div_perfil > a{
    font-size: 19px;
    display: inline-block;
    //margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
}

#dados_pessoais{
    width: 200px;
    margin-left: 30px;
    margin-top: 5px;
}

#chamaPopup_inativarConta{
    margin-left: 25px;
    
}

#link_senha{
    width: 170px;
    margin-left: 30px;
}

#chamaPopup_inativarConta,
#chamaPopup_excluirConta{
    width: 200px;
    font-size: 15px;
}

#chamaPopup_inativarConta:hover,
#chamaPopup_excluirConta:hover{
    cursor: pointer;
    text-decoration: underline;
}


#chamaPopup_excluirConta{
    margin-left: 48px;
}

#chamaPopup_excluirConta img{
    width: 50px;
    height: 50px;
}


#div_perfil > a:hover,
#div_categorias > a:hover{
    text-decoration: none;
    color: #000;
    background-color: rgba(216,216,191, 0.2);
}

#div_perfil > a > img{
    width: 50px;
    height: 50px;
}

#inativeuser{
    width: 40px;
    height: 50px;
}

#deleteuser{
    width: 40px;
    height: 40px;
}


#div_categorias > a{
    display: block;
    width: 240px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

#div_categorias > a > img{
    width: 60px;
    height: 60px;
}




