@charset "utf-8";
/* CSS Document */

/*RESPONSÁVEL POR TODAS AS TELAS APÓS LOGIN*/

html, body, .centralizer { 
    height: 100%; 
}

.clear{
    clear:both; /*VAI LIMPAR TODAS AS FLUTUAÇÕES QUE ELE FEZ*/
}

*{
    margin: 0; 
    padding: 0;
}

a{
    text-decoration:none;
    color:#000;
}

body{
    background:#F3F3F3;
    font-family: 'Roboto', Taroma, sans-serif;
    font-size:14px;
    color:#000;
}

body > .centralizer { 
    height: auto; 
    min-height: 93%; 
    width: 1050px;
    margin: 0 auto;
}

header{
    height:180px;	
}

#logo{
    float:left;
    border:#000 solid 1px;
    width:220px;
    height:147px;
}

#foto_usuario{
    border:solid 1px #000;
    margin-top:8px;
    float:right;
}

#foto_usuario,
#foto_usuario img{
    width:140px;
    height:140px;
}

#cam{
    width:30px;
    height:30px;
    position:relative;
    float:right;
    margin-right:-45px;
    margin-top:100px;
    padding:4px;
}

#cam:hover{
    background:#000;
    opacity:0.6;
}

#notifica_foto{
    position:relative;
    margin: 0 auto;
    margin-right:-135px;
    margin-top:100px;
    float:right;
    padding:2px;
    height:34px;
    width:86px;
    color:#EEE;
    background:#000;
    opacity:0.6;
    display:none;/**/
}

#notifica_foto p{
    padding-left:2px;
}

nav{
    height:35px;
    background-color:#D5D5D5;
}

nav img{
    width: 30px;
    height: 30px;
    float: left;
    padding: 2px 25px;
}

#tabs{
    list-style: none;
}

#tabs li{
    list-style: none;
    float: left;
    position: relative;
    font-weight:bold;
    color:#000;
    width:150px;
    text-align:center;
    padding:8px 0;
}

#tabs li p{
    margin-right: -10px;
}

#tabs li a{
    text-decoration:none;
}

/*dropdowns*/
.dropdown{
    display: block;
    position: absolute;
    display: none;
    padding-top:8px; /*DISTANCIA DO MENU*/
}

.dropdown li{
    float: none;
    position: relative;
    list-style: none;
    font-size:13px;
    background-color:#D5D5D5;
    height:20px;
}

/*Tudo verde ao passar o mouse*/
#tabs li:hover,
nav #home:hover{
    background-color:#b6b6b6;
    color:#FFF;
    /*border:solid 1px #EBEBEB;*/
}

#tabs li.selecionado,
nav img.selecionado{
    background-color:#090;
    color:#FFF;
}

#tabs #nome-usuario{
    float:right;
    text-align:center;
}

#nome-usuario .dropdown li img,
#tabs .dropdown a li img{
    width:19px;
    height:18px;
    padding:0;
    margin-left:12px;
}


section{
    padding-top: 40px;
    overflow: auto;
    border: solid 1px #009999;
}

footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:20px;
    height: 50px; /* E aqui, fica a altura do rodapé */
    width:1050px; /*Mesmo tamanho do centralizer*/
    clear: both;
    font-size:13px;
    color:#FFF;
    text-align:center;
    background-color:#090;
}

#gestatudo{
    font-size:13px;
}

footer a{
    color:#FFF;
    font-size:12px;
}


