@charset "utf-8";
/* CSS Document 
ESTA FOLHA DE ESTILO É PARA A TELA DE ESQUECI A SENHA
*/


html, body, .centralizer { 
    height: 100%; 
}

*{
    margin: 0; 
    padding: 0;
}

a{
   text-decoration:none;
   color:#000;
}

body{
    background: #F8F8FF;
    font-family: Tahoma, sans-serif;
    font-size:13px;
    color:#000;
}

body > .centralizer { 
    height: auto; 
    min-height: 100%; 
    width: 1050px;
    margin: 0 auto;
}

header{
   
}


header > div{
    margin: 0 auto;
    width: 600px; /*mesmo tamanho da imagem*/
    height: 250px;
    margin-top: 120px;
}

#logo > img{
    width: 600px;
    height: 225px;
    /*height: 250px;*/
}

form{
   text-align:center;
   padding-top:60px;
}

.texto{
   width:250px;
   height:37px;
   border:thin solid #EAEAEA; 
   padding-left:8px;
}


input[type=submit]{
   color:#FFF;
   font-weight:bold;
   background:#228B22;
   border:thin;
   text-align:center;
   padding:11px;
   font-weight:bold;
   border-radius: 5px;
   
}

input[type=submit]:hover{
   cursor:pointer;
}


.notificacao{
    display:none;/**/
    font-weight:bold;
    color:#FFF;
    text-align: center;
    margin-top: 10px;
}

.no{
    //background-color: rgb(220, 0, 0);
    color: red;
}

.ok{
    //background-color:#090;
    color: #228B22;
}


footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 70px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}