.cor_de_fundo{
    background-color: #FFF;
}

#top{
    height: 65px;
    border-right: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-top: solid 1px #cccccc;    
}

#sessao_busca{
    width: 260px;
    float: right;
    padding-top: 10px;
}


#div_titulo_mes{
    width: 170px;
    margin: 0 auto;
}

#titulo_mes{
    text-align: center;
    /*    background-color: #ffffff;*/
    font-size: 15px;
    margin: 0;
    margin-top: 13px;
    padding: 10px 0;
    /*    box-shadow: 1px 1px 5px gray;*/
}

.clear2{
    clear:both; /*VAI LIMPAR TODAS AS FLUTUAÇÕES QUE ELE FEZ*/
}


#contas_a_pagar > h3,
#contas_a_receber > h3,
#previsao_do_mes > h3{
    font-size: 14px;
    padding-left: 10px;
    /*    color: #228B22;*/
    color: #000;
}


div > #lado_esquerdo,
div > #lado_direito{
    margin-top: 0px;
    width: 525px;
    border: solid 1px #cccccc;
}


div > #lado_esquerdo{
    float: left;
    
}

div > #lado_direito{
    float: right;
}




#previsao_saldo{
    text-align: center;
    margin-bottom: 20px;
}

#previsao_saldo > span{
    font-size: 20px;
}


#previsao_do_mes{
/*    margin-bottom: 15px;*/
    width: 524px;
    //border-bottom: #cccccc solid 1px;
    
/*    height: 150px;*/
    /*    box-shadow: 1px 1px 10px gray;*/
    /*    background-color: #FFF;*/

}

#previsao_do_mes > span{
    font-size: 16px;
}


#previsao_receita,
#previsao_despesa{
    margin-top: 20px;
    margin-bottom: 25px;
    width: 262px;
    text-align: center;
    
}


#previsao_receita{
    float: left;
}

#previsao_despesa{
    float: right;
}

#previsao_receita > span,
#previsao_despesa > span{
    font-size: 18px;
}

/*********************************************************************************************/


/**********************************CONTAS A PAGAR E CONTAS A RECEBER *************************/

div > #contas_a_pagar,
div > #contas_a_receber{
    border-bottom: solid 1px #cccccc;
}


div > #contas_a_pagar,
div > #contas_a_receber{
    overflow: auto;
    height: 350px;
}

div > #contas_a_pagar h3{
    /*    color: red;*/
}

div > #contas_a_receber h3{
    /*    color: blue;*/
}


#contas_a_pagar > table,
#contas_a_receber > table{
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 20px;
    /*    border: solid 1px #cccccc;*/
    /*    background-color: #ffffff;*/
    /*    box-shadow: 1px 1px 10px gray;*/
    width: 490px;
}



/*#contas_a_pagar > table th,
#contas_a_receber > table th{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #cccccc;
}*/


#contas_a_pagar > table td,
#contas_a_receber > table td{
    padding: 8px 5px;
    font-size: 12px;
}


/*#contas_a_pagar > table tr:hover,
#contas_a_receber > table tr:hover{
    
}*/


/*Todas imagens*/
#contas_a_pagar > table td img,
#contas_a_receber > table td img{
    width: 18px;
    height: 18px;
}


/*Atacando os dontlike*/
#contas_a_pagar > table td img.nao_pago,
#contas_a_receber > table td img.nao_pago{
    opacity: 0.4;
}

#contas_a_pagar > table td img:hover,
#contas_a_receber > table td img:hover{
    opacity: 1.0;
}





/********************************************************************************************************/


.atrasadas{
    background-color: rgba(255,99,71, 0.1);
}

.hoje{
    background-color: #FFFACD;
}

.proximas{
    background-color: #F8F8FF;
}

#contas_a_pagar > table td.titulo_contas,
#contas_a_receber > table td.titulo_contas{
    font-size: 14px;
}


.dinheiro_vermelho{
    color: red;
    font-weight: bold;
}

.dinheiro_azul{
    color: blue;
    font-weight: bold;
}


.linha_receita{
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
}

.linha_despesa{
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
}

.espaco_titulo_contas{

}

.linha_receita:hover{
    /*    background-color: rgba(173,216,230, 0.2);*/
}

.linha_despesa:hover{
    /*    background-color: rgba(255,99,71, 0.1);*/
}


.texto{
    height:38px;
    border:thin solid #EAEAEA; 
    padding-left:8px;
}

#btn_buscar{
    color:#FFF;
    font-weight:bold;
    background:#228B22;
    border:thin;    
    color:#FFF;
    padding: 9px 15px;
    border-radius: 5px;
}

#btn_buscar:hover{
    /*    background-image: url('../img/search.png');
        background-repeat: no-repeat;
        background-position: center;*/
    background-color: #228B22;
}

#btn_buscar > img{
    width: 37px;
    height: 37px;
}

.sem_resultados{
    color: #cccccc;
    text-align: center;
    font-size: 30px;
/*    margin-top: 120px;*/
    margin-top: 35px;
}




#notificacaoDePrevisao{
/*    background-color: #FFFACD;*/
    width: 460px;
    margin: 0 auto;
    border-radius: 8px;
    
    margin-bottom: 15px;
    
    padding: 5px 10px;
    display: none;
    background-color: rgba(255, 255, 189, 0.8);
}



/*--------------- Grafico ---------------*/
 #grafico_geral {
    height: 350px;  
/*    max-width: 600px;*/
    padding-top: 15px;
    margin: 0 auto;
    border-bottom: #cccccc solid 1px;
}  




