@charset "utf-8";

html, body, .centralizer { 
    height: 100%; 
}

*{
    margin: 0; 
    padding: 0;
}

a{
   text-decoration:none;
   color:#000;
}

body{
    background: #F8F8FF;
    font-family: Tahoma, sans-serif;
    font-size:13px;
    color:#000;
}

body > .centralizer { 
    height: auto; 
    min-height: 85%; 
    width: 1050px;
    margin: 0 auto;
}

section{
}


#centro{
    height: 550px;
}

#logo{
   /*width:500px;*/
   /*height:230px;*/
   margin: 0 auto;
}

#logo > a > img{
   width: 500px;
   height: 190px;
   /*height:230px;*/
   margin-left: 250px;
}

#mensagem{
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 35px;
}

#mensagem img{
    padding-left: 180px;
    margin-bottom: 20px;
}

footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 70px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}

input[type=submit]{
    color:#000;
    font-weight:bold;
    border:thin;    
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 50px;
    margin-left: 455px;
}

input[type=submit]:hover{
    background-color: #228B22;
    color: #FFF;
    cursor: pointer;
}

#emailReenviadoSucesso{
   display:none;/**/
   font-weight:bold;
   text-align:center;
   margin: 0 auto;
   font-size: 14px;
   color: #228B22;
   margin-top: 20px;
}

.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}

