@charset "utf-8";
/* CSS Document */

/*Página de NOVA RECEITA*/

select{
    color: #000;
    font-size: 8px;
    font-weight: normal;
}

.cor_de_fundo{
    background-color: #FFF;
}


#cabecalho{
   height:50px;
   text-align:center;
   border-bottom: 1px solid #0A0;
   width: 800px;
   margin: 0 auto;
}


.tipo{
   display:inline;
   margin-left:30px;
   font-size:16px;
}

.texto{
   height:35px;
   border:thin solid #EAEAEA; 
   padding-left:8px;
}

.txt_small{
   width:152px;
}

.txt_large{
   width:205px;
}

label{
   font-size:15px;
   font-weight: normal;   
}

.espaco{
   margin-top: 15px;
}

#receita_ate,
#despesa_ate{
   width: 200px;
}

#receita_ate, #dia_fixo_receita,
#despesa_ate, #dia_fixo_despesa{
   display: none;
}

.notificacao{
   display:none;/**/
   font-weight:bold;
   text-align:center;
   margin-left: -19px;
   margin: 0 auto;
   font-size: 14px;
   padding-top: 15px;
   margin-left: 290px;
}

.ok{
   //background-color: rgba(0, 255, 0, 0.6);
   color :#090;

}

.no{
   //background-color: rgba(255, 0, 0, 0.6);
   //background-color: #F00;
   color: #F00;
}

input[type=radio]:checked + label{
   font-weight: bold;
}


input[type=submit]{
    color:#FFF;
    font-weight:bold;
    background:#228B22;
    border:thin;    
    padding: 8px 15px;
    border-radius: 5px;
}


#btn_salvar_despesa,
#btn_salvar_receita{
    margin-top:10px;
    margin-right: 40px;
    margin-left: 20px;
}

/*
    margin-top:10px;
    margin-right: 40px;
    margin-left: 20px;
*/


input[type=reset]{
    color:#FFF;
    font-weight:bold;
    border:thin;
    font-weight:bold;
    color:#000;
    margin-top:8px;
    padding: 10px 15px;
    border-radius: 5px;
}

input[type=submit]:hover{
    cursor:pointer;
}

input[type=reset]:hover{
   color: #FFF;
   background:#228B22;
}


input[type=checkbox]{
    width: 15px;
    height: 15px;
}

form ul{
   margin-left: 10px;
}

#add_receita:hover,
#add_despesa:hover{
    color: #000;
    cursor: pointer;
}



/* ************************************** Popup nova receita ********************************************************** */


#popup_nova_receita{
    display: none;/**/
}

#popup_nova_despesa{
    display: none;/**/
}


#bloco_receita,
#bloco_despesa{
    padding-left: 95px; 
}

/******************************************** Resposável pelo popup nova categoria ******************************************/
#popup_nova_categoria_receita,
#popup_nova_categoria_despesa{
    display: none;
}


/*Título do popup*/
.ui-widget-header{
    color: #FFF;
    font-size: 14px;
}

#btn_salvar_categoria_receita,
#btn_salvar_categoria_despesa{
    float: right;
    margin-top: 8px;
}

.notificacao_categoria{
   display: none;/**/
   font-weight:bold;
   text-align:center;
   color: red;
   float: left;
   margin-left: 8px;
   margin-top: 20px;
}


/* *************************************************************************** */


#botoes_lancamentos{
    width: 190px;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}

button{
    width: 90px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    border: thin;
    border-radius: 5px;
    background-color: #ebebeb;
    margin-left: 1px;
}


#chama_despesa{
    color: red;
}

#chama_receita{
    color: #0000cc;
}

#chama_despesa:hover{
    background-color: red;
    opacity: 0.6;
    
}

#chama_receita:hover{
    background-color: #0000cc;
    opacity: 0.7;
    
}

#chama_receita:hover,
#chama_despesa:hover{
    color: #FFF;
}


/*****************************************************************/

#topo_movimentacoes{
    margin-top: -18px; /*Puta de uma gambiarra pra ficar grudado no menu, talvez tenha que fazer isso em todas as telas*/
    border: solid 1px #cccccc;
    border-bottom: none;
    height: 70px;
}


#datas{
    margin-top: 15px;
    float: right;
    margin-right: 5px;
}


#receitas_de,
#receitas_ate{
    width: 110px;
}


#sessao_relatorio{
    border-top: none;
    min-height:600px;
}

#periodo{
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    border: solid 1px #cccccc;
}


.sem_movimentacoes{
    text-align: center;
    color: #999999;
    margin-bottom: 25px;
    width: 380px;
    margin: 0 auto;
    margin-top: 50px;   
}


#sessao_relatorio > table{
    width: 945px;
/*    box-shadow: 1px 1px 10px gray;*/
    margin-bottom: 25px;
}

#sessao_relatorio > table thead{
    border: solid 1px #cccccc;
    border-top: none;
}

#sessao_relatorio > table th{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
}
    
#sessao_relatorio > table tr{
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
}

#sessao_relatorio > table td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#sessao_relatorio > table td img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
    opacity: 0.6;
}

#sessao_relatorio > table td img:hover{
    cursor: pointer;
    opacity: 1;
}




.linha_receita{
    
}

.linha_despesa{
    
}

.linha_receita:hover{
    background-color: rgba(173,216,230, 0.2);
}

.linha_despesa:hover{
    background-color: rgba(255,99,71, 0.1);
}

#filtros{
    width: 105px;
    float: left;
    min-height: 100px;
    border-left: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    padding-left: 10px;
}

#filtros > form > label{
    font-size: 14px;
}

form > #filtros_despesas > label,
form > #filtros_receitas > label{
    font-size: 12px;
}

#filtros_receitas,
#filtros_despesas{
    display: none;
}

#filtrar_por{
    font-weight: bold;
}

#label_despesas:hover,
#label_receitas:hover,
#label_todas:hover,
#label_nao_pagas:hover,
#label_pagas:hover,
#label_todas_despesas:hover,
#label_nao_recebidas:hover,
#label_recebidas:hover,
#label_todas_receitas:hover{
    text-decoration: underline;
    cursor: pointer;
}


/***************************************************POPUS DE EDITAR E EXCLUIR MOVIMENTAÇÕES*******************************************************/

#popup_excluir_movimentacao_unica,
#popup_excluir_movimentacao_fixa,
#popup_editar_movimentacao_unica,
#popup_editar_movimentacao_fixa{
    display: none;
}


#btn_cancelar_mov_unica,
#btn_cancelar_mov_fixa,
#btn_cancelar_edicao_mov_unica{
    color:#FFF;
    font-weight:bold;
    background: #999999;
    border:thin;    
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
}


#popup_excluir_movimentacao_unica a:hover,
#popup_excluir_movimentacao_fixa a:hover,
#popup_editar_movimentacao_unica a:hover,
#popup_editar_movimentacao_fixa a:hover{
    text-decoration: none;
}


#btn_excluir_mov_unica,
#btn_cancelar_mov_unica,

#btn_excluir_mov_fixa,
#btn_cancelar_mov_fixa{
    width: 70px;
}

#btn_cancelar_edicao_mov_unica{
    width: 80px;
    padding: 8px 0;
}

#btn_excluir_mov_unica,
#btn_excluir_mov_fixa{
    margin-top: 25px;
    margin-left:250px;
}

#excluiu_sucesso_unica,
#excluiu_sucesso_fixa,
#nao_selecionou_op_fixa,
#editada_sucesso_fixa{
    width: 300px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}


#popup_excluir_movimentacao_unica > span,
#popup_excluir_movimentacao_unica img{
    
}

#popup_excluir_movimentacao_unica > span,
#popup_excluir_movimentacao_fixa > span{
    font-size: 16px;
}

#popup_excluir_movimentacao_unica img,
#popup_excluir_movimentacao_fixa img{
    width: 43px;
    height: 43px;
    margin-top: 10px;
}


#aviso_mov_fixa{
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 0 10px 40px;
    background-color: #FFFACD; /*BOA*/
/*    background-color: #FFF8DC; mt clarinha*/
/*    background-color: #FAFAD2; BACANA*/
/*    background-color: #f3f3ca; cor de bosta*/
/*    background-color: #f9f9d3;*/
}


#aviso_mov_fixa_editar{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #FFFACD;
    padding: 10px 0 10px 10px;
    width: 360px;
}

#aviso_mov_fixa p,
#aviso_mov_fixa_editar p{
    font-size: 14px;
}

#aviso_mov_fixa label,
#aviso_mov_fixa_editar label{
    font-size: 13px;
}













/*editar movimentação*/
#img_editar_mov{
    float: left;
}


#dados_mov_atual{
    width: 210px;
}

#dados_mov_atual input[type=radio]{
    margin-left: 17px;
    margin-top: 25px;
}



#dados_atuais_fixa input[type=radio]{
    margin-top: 15px;
}


/*Dando um espaço entre os radio button da movimentacao fixa*/
#receita_edita_fixa{
    margin-left: 15px;
}


#tipo_atual{    
    width: 250px;
}




/*Botões*/
#btn_editar_mov_unica{
    margin-left: 20px;
}


#btn_editar_mov_fixa{
    margin-left: 85px;
    margin-top: 15px;
}
/*/Botões*/






/*Dados atuais única*/
#dados_atuais{    
    margin-left: 30px;
    width: 210px;
}


/*Dados atuais fixa*/
#dados_atuais_fixa{
    padding-left: 90px;
}










.sucesso_edita{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}


.erro_edita{
    margin: 0;
    padding-top: 10px;
}

.erro_exclui{
    margin: 0;
    padding: 10px;
}

.erro_lancamento{
    margin-left: -105px;
    margin-bottom: 10px;
}



















