@charset "utf-8";
/* CSS Document 
ESSA FOLHA DE ESTILO É PARA TELA DE LOGIN E SENHA
*/

html, body, .centralizer { 
    height: 100%; 
}

*{
    margin: 0; 
    padding: 0;
}

a{
    text-decoration:none;
    color:#000;
}



body{
    background: #F8F8FF;
    font-family: Roboto, Tahoma, sans-serif;
    font-size:14px;
    color:#000;
}


body > .centralizer { 
    height: auto; 
    min-height: 93%; 
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 50px;
}

table{
    font-size: inherit;
}

header{
    height:180px;	
}


#logo > img{
/*  width: 230px;
    height: 210px;
    margin-left: 85px;*/
    width: 500px;
    height: 190px;
    margin-top: 15px;
    margin-left: -45px;
   
    
}

#login{
    width:374px;
    height:140px;
    float:right;
    margin-right: -30px;
}

#tabela-login{
    padding-top:60px;
}

th{
    text-align:left;
    font-weight:normal;
}

tfoot td{
    text-align:center;
}

.texto{
    height:39px;
    border:thin solid #EAEAEA; 
    padding-left:8px;
    width: 145px;
}

.transparente{
    opacity:0.7;
}

#txt_login:hover, #txt_senha:hover, input[type=submit]:hover{
    opacity:1;	
}

/*dando um espaço entre os inputs*/
td > input{
/*    margin-bottom: 10px;*/
}

input[type=submit]{
    width:150px;
    color:#FFF;
    font-weight:bold;
    background: #228B22;
    border:thin;
    font-weight:bold;
    color:#FFF;
    padding: 12px 10px;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 10px;
}

input[type=submit]:hover{
    cursor:pointer;
}

section { 
    margin-top: 70px;
    padding-bottom: 50px; /* O padding, deve ser o mesmo valor da altura do rodapé */
} 

#cadastro{
    float:left;
    padding: 10px 25px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    margin-left: 30px;
    margin-top: 30px;
}

.txt_pequeno{
    width:140px;
}

.txt_grande{
    width:293px
}

#nascimento{
    width:140px;
}

#tablet{
    float:right;
    width:620px;
    height:400px;
    padding: 15px 0 0 0;
    margin-top: 60px;
    background-image:url(../img/IPad_3.png);
    background-size:550px 400px;
    background-repeat: no-repeat;
}

.img_dt_tablet{
    width: 448px;
    height: 299px;
    padding-left: 51px;
    padding-top: 51px;
}


.clear{
   clear: both;
   padding-bottom: 50px;
   
}

footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 70px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}


/*Erros*/
.notificacao{
    display:none;/**/
    margin-bottom:10px;
    margin-top:3px;
    font-weight:bold;
    color:#FFF;
    text-align: center;
}

.no{
    //background-color: rgb(220, 0, 0);
    color: red;
}

.ok{
    //background-color:#090;
    color: #228B22;
}

#cadastro_ok{
    font-size: 16px;
}

#clique_aqui{
    color:  red;
    text-decoration: underline;
}

#clique_aqui:hover{
    color: #228B22;
}


.notifica_preechimento{
    font-size: 10px;
    color: red;
    display: none;
}