@charset "utf-8";
/* CSS Document */

/*RESPONSÁVEL POR TODAS AS TELAS APÓS LOGIN*/

html, body, .centro { 
    height: 100%;
}




.clear{
    clear:both; /*VAI LIMPAR TODAS AS FLUTUAÇÕES QUE ELE FEZ*/
    padding-bottom: 50px;
}

*{
    margin: 0; 
    padding: 0;
}

a{
    text-decoration:none;
    color:#000;
}

body{
    background: #F8F8FF;
    font-family: Tahoma, sans-serif;
    font-size:13px;
    color:#000;
}


.centralizer{
    margin: 0 auto;
    width: 1050px;
    
}

.centro{
    height: auto;
    min-height: 100%;
/*    background-color: #FFF;
    width: 1050px;
    margin: 0 auto;*/
}

/*
body > .centralizer { 
   height: auto; 
   min-height: 93%; 
   width: 1050px;
   margin: 0 auto;
}*/

header{
    height: 190px;
}


/************************************** SALDO ATUAL ******************************/
#saldo_atual{
    text-align: center;
    margin-left: 860px; /*860px ou 570px*/
    margin-top: 140px;
    padding: 0px 8px;
    position: absolute;
    background-color: #FFF;
    font-size: 14px;
    box-shadow: 1px 1px 5px gray;
}

.dinheiro_vermelho{
    color: red;
    font-weight: bold;
}

.dinheiro_azul{
    color: blue;
    font-weight: bold;
}

/********************************************************************************/


#logo{
    float:left;
    width:210px;
    height:190px;
}

#logo > img{
    width: 500px;
    height: 190px;
    margin-left: -50px;
}

#foto_usuario{
    margin-top: 65px;
    margin-right: 10px;
    float:right;
    box-shadow: 5px 5px 10px gray;
}

#foto_usuario,
#foto_usuario img{
    width:120px;
    height:120px;
    border-radius: 100px;
}

#cam{
    width:25px;
    height:25px;
    position:relative;
    float:right;
    margin-right:-40px;
    margin-top:127px;
    padding: 0;
    opacity:0.8;
}

#cam:hover{
    background:#000;
    opacity:0.4;
}

#notifica_foto{
    position: relative;
    margin: 0 auto;
    margin-right:-135px;
    margin-top:80px; /*mesmo da #cam*/
    float:right;
    padding:2px;
    height:34px;
    width:86px;
    color:#EEE;
    background:#000;
    opacity:0.4;
    display:none;/**/
}

#notifica_foto p{
    padding-left:2px;
    font-size: 13px;
}

nav{
    height:38px;
    background-color: #228B22;
}

#home{
    float: left;   
}

#home > li > a > img{
    width: 34px;
    height: 34px;
    display: block;
    margin: 2px 25px;

}

#tabs{
    list-style: none;
}

.dropdown{
    float: left;
}

#tabs > .dropdown > a,
#tabs > .dropdown > li > a{
    display: block;
    padding: 10px 15px;
    color: #FFF;
    border-right: solid 1px #006600; 
}

#movimentacoes,
#nome_usu,
#home{
    border-left: solid 1px #006600; 
}

#tabs > .dropdown > a:hover,
#tabs > .dropdown > li > a:hover,
#home:hover{
    text-decoration: none;
    background-color: #006600;
    cursor: pointer;
}

.dropdown-menu > li > a:hover{
    
}

.dropdown-menu > li > a > img{
    width: 18px;
    height: 18px;
    margin: 0 10px 0 -10px;
}

#nome-usuario{
    float: right;
}

section{
    
}

.centro > .centralizer{
    
}

footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 105px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}

footer a:hover{
    color: inherit;
}

.fundo{
    background-color: #006600;
}




#popup_filtra_periodo{
    display: none;
}

#por_periodo:hover{
    cursor: pointer;
}


#btn_buscar_relat_por_periodo{
    margin-top: 8px;
    float: right;
    color:#FFF;
    font-weight:bold;
    background:#228B22;
    border:thin;    
    padding: 8px 15px;
    border-radius: 5px;
}


.notificacao_por_periodo{
   display:none;/**/
   font-weight:bold;
   text-align:center;
   margin: 0 auto;
   font-size: 13px;
   padding-top: 13px;
}

.ok{
   //background-color: rgba(0, 255, 0, 0.6);
   color :#090;

}

.no{
   //background-color: rgba(255, 0, 0, 0.6);
   //background-color: #F00;
   color: #F00;
}

select{
    color: #000;
    font-weight: normal;
}


