@charset "utf-8";
/* CSS Document */

/*Responsável pela pagina de configurações de perfil*/

*{
    margin: 0;
    padding: 0;
}

.cor_de_fundo{
    background-color: #FFF;
}

#cabecalho{
   height:150px;
   margin-top: -18px;
   padding-top: 25px;
}


#centro_perfil{
    margin-top: -30px;
    padding-top: 30px;
    height: 550px;
}


select{
    color: #000;
    font-weight: normal;
}

#titulo{
   width:420px;
   height:100px;
   text-align:center;
   position:absolute;
   margin-left:320px;
   
}

#titulo img{
   width:100px;
   height:100px;
   float:left;
}

#titulo h2{
   margin-top:33px;
}

#titulo p{
   font-size:13px;
   color:#F00;
}

/*Referente a tela senha.php*/
#titulo-altera-senha{
   width:280px;
   height:100px;
   text-align:center;
   position:absolute;
   margin-left:345px;
   margin-top:40px;
}

#titulo-altera-senha img{
   width:100px;
   height:100px;
   float:left;
}


#titulo-altera-senha h2{
   margin-top:37px;
}

/*senha.php fim*/


th{
   font-weight:normal;
   text-align:left;
}

.texto{
   height:42px;
   border:thin solid #EAEAEA; 
   padding-left:8px;
}


.txt_pequeno{
   width:140px;
}

.txt_grande{
   width:280px
}

#sexo{
   width:140px
}


#dados{
   float:left;
   margin-left:220px;
}

#altera-senha{
   margin: 0 auto;
   margin-top:30px;
}

table img{
   width:250px;
   height:250px;
}

#foto{
   margin-top: 30px;
   margin-left: 525px;
}

input[type=file]{
   padding-top: 20px;
}

.notificacao{
    display:none;/**/
    font-weight:bold;
    color:#FFF;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.no{
    //background-color: rgb(220, 0, 0);
    color: red;
}

.ok{
    //background-color:#090;
    color: #228B22;
}

#loading{
    margin-left: 510px;
    padding-top: 8px;
    display: none;/**/
}
	

input[type=submit]{
    width:100px;
    color:#FFF;
    font-weight:bold;
    background:#228B22;
    border:thin;
    margin-top:8px;
    padding: 10px;
    border-radius: 5px;
}

input[type=button]{
    width:100px;
    font-weight:bold;
    border:thin;
    color:#000;
    margin-top:8px;
    padding: 10px;
    border-radius: 5px;
}

input[type=submit]:hover{
    cursor:pointer;
}

input[type=button]:hover{
   color: #FFF;
   background:#228B22; 
}

label{
   font-weight: normal;
}

td > label{
   margin-bottom: 0;
   margin-top: 10px;
}



.notifica_preechimento{
    font-size: 10px;
    color: red;
    display: none;
}


#popup_alterar_email_principal{
    display: none;
}

#botoes_salvar_email{
    float: right;
    width: 210px;
}

#central_senha{
    padding-bottom: 80px;
    border: solid 1px #cccccc;
    margin-top: -18px;
}


#ed_email_ja_cadastrado{
    margin-top: 70px;
}

#btnExcluirFoto{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    background-color: transparent;
    color: red;
    width: 150px;
    font-weight: normal;
    background-image: url('../img/trash9.png');
    background-size: 17px 17px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 100px;
}