
html, body, .centralizer { 
    height: 100%; 
}

*{
    margin: 0; 
    padding: 0;
}

a{
   text-decoration:none;
   color:#000;
}

body{
    background: #F8F8FF;
    font-family: Tahoma, sans-serif;
    font-size:13px;
    color:#000;
}

body > .centralizer { 
    height: auto; 
    min-height: 95%; 
    width: 1050px;
    margin: 0 auto;    
}



#centro{
    
}

#centro > a > img {
    width: 400px;
    height: 150px;
    margin-left: 310px;
}

#div_formulario{    
    width: 400px;
    /*margin-top: -40px;*/
    margin-left: 80px;
}

#download{
    float: right;
    margin-top: -240px;
    margin-right: 150px;
    font-size: 20px;
    text-align: center;
}

#div_formulario > img{
    width: 80px;
    height: 55px;
    float: left;
    margin-left: 60px;
    margin-bottom: 20px;
}

#title{
    float: left;
    padding: 20px;
    font-size: 16px;
}

.texto{
   width:250px;
   height:35px;
   border:thin solid #EAEAEA; 
   padding-left:8px;
}


.tamanho{
    width: 250px;
}

#assunto{
    width: 260px;
}

#labelmsg{
    vertical-align: top;
}

table{
    border-collapse: separate;
    border-spacing: 8px;
}

#linhaBtn{
    text-align: right;
}

caption{
    float: left;
    font-size: 18px;
}


input[type=submit]{
   color:#FFF;
   font-weight:bold;
   background:#228B22;
   border:thin;
   text-align:center;
   padding:8px 17px;
   font-weight:bold;
   border-radius: 5px;
   
}


input[type=submit]:hover{
   cursor:pointer;
}


.notificacao{
    display:none;/**/
    font-weight:bold;
    color:#FFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.no{
    //background-color: rgb(220, 0, 0);
    color: red;
}

.ok{
    //background-color:#090;
    color: #228B22;
}


footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 70px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}

textarea{
    resize: none;
    padding: 8px;
    font-family: Tahoma, sans-serif;
}

#manual{
    color: #2d6ca2;
    text-decoration: underline;
}


