html, body, .centralizer { 
    height: 100%; 
}

*{
    margin: 0; 
    padding: 0;
}

a{
    text-decoration:none;
    color:#000;
}


body{
    background: #F8F8FF;
    font-family: Roboto, Tahoma, sans-serif;
    font-size:14px;
    color:#000;
}


body > .centralizer { 
    height: auto; 
    min-height: 93%; 
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 50px;
}

footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 70px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}




header{
    text-align: center;
}

header > a > img{
    width: 500px;
    height: 190px;
}


section{
    
    margin: 0 auto;
    margin-top: 10px;
}

section > ul{
    list-style-type: none;
    list-style-position: inside;
    list-style-image: url('../img/bullet.png');
    border: solid 1px #cccccc;
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
}

section li{
    width: 600px;
    /*margin-top: 20px;*/
    font-size: 17px;
}

.respostas{
    display: none;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}


.perguntas{
    cursor: pointer;
    padding-left: 20px;
}

#titulo{
    width: 253px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 26px;
}

#duvida_aqui{
    font-size: 19px;
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
}

#download,
#fale_conosco{
    color: steelblue;
    text-decoration: underline;
}

#sub_titulo{
    font-weight: normal;
    font-size: 14px;
    width: 408px;
    margin: 0 auto;
}