.cor_de_fundo{
    background-color: #FFF;
}

.clear{
    clear: both;
}

.texto{
   height:35px;
   border:thin solid #EAEAEA; 
   padding-left:8px;
}

#edita_mes_fim_meta{
    width: 100px;
}

input[type=submit]{
    color:#FFF;
    font-weight:bold;
    background:#228B22;
    border:thin;    
    padding: 8px 25px;
    border-radius: 5px;
}

.notificacao{
   display:none;/**/
   font-weight:bold;
   text-align:center;
   margin: 0 auto;
   font-size: 14px;
   margin-top: 10px;
}

.ok{
   //background-color: rgba(0, 255, 0, 0.6);
   color :#090;

}

.no{
   //background-color: rgba(255, 0, 0, 0.6);
   //background-color: #F00;
   color: #F00;
}


label{
    font-weight: normal;
}



#form_meta{
    /*border: solid 1px red;*/
    width: 220px;
    margin: 0 auto;
}

#popup_meta{
    display: none;
}

.txt_small{
    width: 95px;
}


#topo_metas{
    text-align: center;
    padding: 15px 0;
    border: solid 1px #cccccc;
    border-bottom: none;
}


#centrinho{
    min-height: 300px;
    border: solid 1px #cccccc;
}


#resumo_meta{
    border:solid 1px #cccccc; 
    width: 550px;
    float: left;
}

#resumo_meta > h3{
    font-size: 14px;
    padding-left: 30px;
}

#resumo_meta > table{
    min-width: 350px;
    max-width: 500px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#resumo_meta > table th,
#resumo_meta > table td{
    padding: 10px 10px 10px 10px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
}

#metas_concluidas > h3{
    font-size: 15px;
    margin: 0 auto;
    margin-left: 450px;
    margin-top: 40px;
}

#metas_concluidas > table{
    min-width: 550px;
    max-width: 1000px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#metas_concluidas > table th,
#metas_concluidas > table td{
    padding: 10px 10px 10px 10px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
}

#metas_concluidas > table img{
    width: 20px;
    height: 20px;
}


.dinheiro_azul{
    color: blue;
}

.dinheiro_vermelho{
    color: red;
}

#restante{
    font-size: 17px;
    font-weight: bold;
    background-color: rgba(255,99,71, 0.9);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: #FFF;
}



#lado_direito{
    border: solid 1px #cccccc;
    width: 500px;
    float: right;
}


#previsao_meta{
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 14px;
    width: 640px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFFACD;
}

#concluiu_meta{
    padding: 15px 5px;
    margin: 0 auto;
    font-size: 14px;
    width: 600px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgba(147,219,112, 0.5);
}

#esta_no_caminho{
    padding: 15px 5px;
    margin: 0 auto;
    font-size: 14px;
    width: 550px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFFACD;
}

a:hover{
    color: #000;
}


#excluir_meta{
    float: right;
    padding: 5px;
    border-radius: 8px;
    color: red;
    margin-top: -60px;
    margin-right: 20px;
}

#editar_meta{
    float: right;
    padding: 5px;
    border-radius: 8px;
    color: #000;
    margin-top: -10px;
    margin-right: 20px;
}

#excluir_meta:hover,
#editar_meta:hover{
    cursor: pointer;
    text-decoration: underline;
    /*background-color: rgba(216,216,191, 0.2);*/
}

#excluir_meta img,
#editar_meta img{
    width: 25px;
    height: 25px;
}


#popup_deseja_excluir_meta,
#popup_deseja_excluir_meta2,
#popup_editar_meta{
    display: none;
}

input[type=button]{
    background-color: #ebebeb;
    margin-left: 4px;
    
    color: #000;
    font-weight:bold;
    border:thin;    
    padding: 8px 15px;
    border-radius: 5px;
}

#form_excluir_meta,
#form_excluir_meta2{
    float: right;
}

#edita_nome_meta,
#edita_valor_meta{
    margin-bottom: 15px;
}

#label_edita_valor_meta{
    margin-top: 15px;
}

#btnCalcelarEditarMeta{
    margin: 0;
    padding-left: 11px;
    padding-right: 11px;
}


#centro{
    min-height: 700px;
    border: solid 1px #cccccc;
}



#btnChamaMeta{
    position: absolute;
    background-color: #FFF;
    padding: 10px 15px 10px 30px; 
    border-radius: 20px;
    font-size: 16px;
    margin-left: 450px;
    margin-top: 60px;
}

#btnChamaMeta:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: rgba(216,216,191, 0.2);
}