body{
    background: #F8F8FF;
    font-family: Roboto, Tahoma, sans-serif;
/*    font-size:14px;*/
    color:#000;
}


#box{
    
    width: 620px;
    height: 400px;
    margin: 0 auto;
    padding-top: 50px;
    
}

#box > img{
    float: left;
}

#box > h3{
    font-size: 26px;
    padding-top: 17px;
}

#box > h4{
    padding-top: 25px;
    padding-left: 270px;
}

#box > ul{
    padding-left: 286px;
    /*list-style-image: url("http://css-plus.com/wp-content/uploads/2011/12/pseudo-element-bullet-featured.png");*/
}