html, body, .centralizer { 
    height: 100%; 
}

*{
    margin: 0; 
    padding: 0;
}

a{
    text-decoration:none;
    color:#000;
}


body{
    background: #F8F8FF;
    font-family: Roboto, Tahoma, sans-serif;
    font-size:14px;
    color:#000;
}


body > .centralizer { 
    height: auto; 
    min-height: 93%; 
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 50px;
}

footer{
    position: relative;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 70px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}

header{
    text-align: center;
}

header > a > img{
    width: 500px;
    height: 190px;
}


section{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 90px;
    width: 650px;
}


section h2{
    width: 150px;
    margin: 0 auto;
}


section p{
    text-align: justify;
    text-indent: 25px;
    line-height: 25px;
    word-spacing: 1px;
}


.imagens{
    margin-top: 50px;
    width: 124px;
    height: 127px;
    border: solid 1px #cccccc;
    float: left;
    border-radius: 100px;
    margin-left: 3px;
}

.imagens > a > img{
    width: 124px;
    height: 127px;
    border-radius: 100px;
    opacity: 0.5;
    cursor: pointer;
}



a > img:hover{
    opacity: 1;
}




#nomes{
    margin-top: 185px;
    display: block;
}

#nome1{
    margin-left: 20px;
}

#nome2{
    margin-left: 20px;
}

#nome3{
    margin-left: 10px;
}

#nome4{
    margin-left: 12px;
}

#nome5{
    margin-left: 15px;
}


