@charset "utf-8";
/* CSS Document 
ESTA FOLHA DE ESTILO É PARA A TELA DE ESQUECI A SENHA
*/


html, body, .centralizer { 
    height: 100%; 
}

*{
    margin: 0; 
    padding: 0;
}

a{
   text-decoration:none;
   color:#000;
}

body{
    background: #F8F8FF;
    font-family: Roboto, Tahoma, sans-serif;
    font-size:14px;
    color:#000;
}

body > .centralizer { 
    height: auto; 
    min-height: 90%; 
    width: 1050px;
    margin: 0 auto;
    
}

.clear{
    clear: both;
}

header{
    
}

div #titulo{
    margin-bottom: 30px;
    text-align: center;
    width: 450px;
    padding-bottom: 10px;
    margin: 0 auto;
}

div #titulo img{
    width: 90px;
    height: 90px;
    float: left;
    margin-left: 40px;
}

div #titulo h2{
    padding-top: 25px;
    padding-right: 20px;
}

#centro{
    height: 350px;    
    padding-top: 80px;
    /*padding-left: 250px;*/
}

#logo{
   width:500px;
   /*height:200px;*/
   float: left;
   margin-top: 10px;
   margin-left: 100px;
}

#logo > img{
    width:500px;
    height: 190px;
   /*height:200px;*/
}


#form-redefine-senha{
    float: right;
    margin-right: 220px; /*Mexer no formulário*/
    margin-top: 15px;
}

.texto{
    height:42px;
    border:thin solid #EAEAEA; 
    padding-left:8px;
}


input[type=submit]{
   width:100px;
   color:#FFF;
   font-weight:bold;
   background:#228B22;
   border:thin;
   text-align:center;
   padding:10px;
   font-weight:bold;
   border-radius: 5px;
   
}

input[type=submit]:hover{
   cursor:pointer;
}

input[type=password]{
    margin-bottom: 10px;
}


.clear{
    clear:both; /*VAI LIMPAR TODAS AS FLUTUAÇÕES QUE ELE FEZ*/
}


footer{
    position: fixed;
    margin-top: -50px; /* Este margin, tem que ser o mesmo valor da altura do rodapé, só que negativo */
    margin: 0 auto;
    padding-top:35px;
    height: 70px; /* E aqui, fica a altura do rodapé */
    /*width:1050px; Mesmo tamanho do centralizer*/
    clear: both;
    font-size:14px;
    color:#FFF;
    text-align:center;
    background-color: #228B22;
    border-top: solid 1px #999999;
    bottom: 0;
    width: 100%;
}


#gestatudo{
    font-size:14px;
}

footer a{
    color:#FFF;
    font-size:12px;
}

footer a:hover{
   text-decoration: underline;
}

.notificacao{
    display:none;/**/
    font-weight:bold;
    color:#FFF;
    text-align: center;
    margin-top: 30px;
    width: 400px;
    margin: 0 auto;
}

.no{
    //background-color: rgb(220, 0, 0);
    color: red;
}

.ok{
    //background-color:#090;
    color: #228B22;
}
   

#loading{
    margin-left: 200px;
    padding-top: 8px;
    padding-bottom: 200px;
    display: none;/**/
}

.notifica_preechimento{
    font-size: 10px;
    color: red;
    display: none;
}

