h3{
    font-size: 23px;
}


.texto{
   height:35px;
   border:thin solid #EAEAEA; 
   padding-left:8px;
}


.cor_de_fundo{
    background-color: #FFF;
}


#topo_relatorio{
    border: solid 1px #cccccc;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}


#relatorio{
    border: solid 1px #cccccc;
    border-top: none;
/*    position: absolute;*/
}

#relatorio > table{
    width: 1048px;
}


#relatorio > table th{
    padding: 8px 15px;
    text-align: center;
/*    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;*/
}



#relatorio > table td{
    padding: 8px 15px;
    font-size: 14px;
    text-align: center;
}

#relatorio > table tfoot{
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #cccccc;
    font-size: 16px;
}



.dinheiro_vermelho{
    color: red;
}

.dinheiro_azul{
    color: blue;
}


.linha_receita{
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #cccccc;
}

.linha_despesa{
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #cccccc;
}

.linha_receita:hover{
    background-color: rgba(173,216,230, 0.2);
}

.linha_despesa:hover{
    background-color: rgba(255,99,71, 0.1);
}

#linha_saldo_anterior{
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #cccccc;
}





.exibe_saldo{
    font-size: 17px;
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #cccccc;
    
}


#text_saldo{
    float: left;
    font-weight: bold;
    padding: 8px 40px;
}

#valor_saldo{
    float: right;
/*    font-weight: bold;*/
    padding: 8px 55px;
}


.sem_movimentacoes{
    width: 1048px;
    color: #cccccc;
    font-size: 28px;
    text-align: center;
    padding: 40px 0;
}





