<select required oninvalid="setCustomValidity('Selecione uma categoria.')" onchange="try {setCustomValidity('');} catch (e) {}" name="categoria" class="texto" id="categoria">
                  <option disabled value="">Selecione:</option>
                  <?php
                  $sql = mysql_query("SELECT * FROM categorias_receitas");

                  while ($retorno = mysql_fetch_array($sql)) {
                     $categoria = $retorno['categoria'];
                     ?>
                     <option value="<?php echo $categoria ?>"><?php echo $categoria ?></option>
                     <?php
                  }
                  ?>
               </select>
<a href="" id="add">Adicionar</a>


//**************************************************************************************

 <input type="text" name="categoria" id="categoria" list="lista_categorias" class="texto txt_large" placeholder="Digite ou selecione" required oninvalid="setCustomValidity('Selecione ou digite a sua categoria personalizada.')" onchange="try {
                                setCustomValidity('');
                            } catch (e) {
                            }">
<datalist id="lista_categorias">
                        <?php
                        $sql = mysql_query("SELECT * FROM categorias_receitas");

                        while ($retorno = mysql_fetch_array($sql)) {
                            $categoria = $retorno['categoria'];
                            ?>
                            <option value="<?php echo $categoria ?>">
                                <?php
                            }
                            $sql_categoria_usuario = mysql_query("SELECT * FROM categorias_receitas_usuario WHERE id_usuario = '$id'");

                            while ($retorno = mysql_fetch_array($sql_categoria_usuario)) {
                                $categoria = $retorno['categoria'];
                                ?>
                            <option value="<?php echo $categoria ?>">
                                <?php
                            }
                            ?>
                    </datalist>
